.dashboard-container {
    display: grid;
    justify-items: center;
    width: 100%;
    margin: 50px auto;
}

.dashboard-grid-header {
    top: 0;
    display: grid;
    position: fixed;
    grid-template-columns: 1fr auto;
    gap: 1%;
    align-items: center;
    width: 100%;
    border: #dcdbe1 1px solid;
    border-radius: 5px;
    padding: 1%;
    background-color: white;
}

.dashboard-grid-header > a > i {
    color: white;
    font-weight: bold;
    font-size: 13px;
    user-select: none;
    margin: 2px;
}

@media (max-width: 600px) {
    .dashboard-container {
        display: grid;
        justify-items: center;
        width: 100%;
        margin: 120px auto;
    }
}