.form-container {
    display: grid;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}

.form-container > input, select {

    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: #3f3f3f 1px solid;
    background-color: white;
}

.form-footer {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
}

.footer-button {
    border: #00ffaa 1px solid;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(63, 63, 63);
    font-size: 13px;
    user-select: none;
    margin: 2px;
}